
 * {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	
	margin: 0;
	padding: 0;
}
body {
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 40px;
	background: linear-gradient(to right, #74ebd5, #96a0cc, #00b193);
}
.calculator {
	width: 200%;
	max-width: 400px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}
.header {
	background-color: #4169e1;
	color: white;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu-icon {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25px;
	height: 20px;
}
.menu-icon span {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 3px;
}
.menu {
	position: absolute;
	top: 27%;
	left: 25%;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	display: none;
	z-index: 10;
	font-weight: bold;
	font-size: 1.10rem;
}
.menu.show {
	display: block;

}
.menu-item {
	padding: 12px 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.menu-item:hover {
	background-color: #c2bbbb;
}
.display {
	padding: 20px;
	text-align: right;
	height: 80px;
	font-size: 2em;
	border-bottom: 2px solid #eee;
	overflow: hidden;

	
}


.buttons {
	padding: 15px;
	display: grid;
	grid-gap: 10px;
	font-weight: bold;
}
.calculator-type {
	display: none;
}
.calculator-type.active {
	display: block;
}
.basic .buttons {
	grid-template-columns: repeat(4, 1fr);
}
.advanced .buttons, .programming .buttons, .financial .buttons {
	grid-template-columns: repeat(4, 1fr);
}
button {
	padding: 15px;
	border: none;
	border-radius: 5px;
	font-size: 1.2em;
	cursor: pointer;
	transition: background-color 0.3s;
}
button:hover {
	opacity: 0.8;
}
.number {
	background-color: #f0f0f0;
}
.operator {
	background-color: #ff9500;
	color: white;
}
.function {
	background-color: #787878;
	color: white;
}
.equal {
	background-color: #4caf50;
	color: white;
}
.clear {
	background-color: #f44336;
	color: white;
}